.logincard:hover{
    border: 1px solid #52b3ac;
    box-shadow: 15px 0px 39px #52b381 ;
}
.listitem:hover{
    box-shadow: -1px 0px 8px black;
    transform: scale(1.08);
}
.listitem{
    background-color: #eee7e7;
    border-radius: 30px 42px 5px 30px;
    transition: transform .2s;
}
.listdata:hover{
    cursor: -webkit-grabbing;
        cursor: grabbing;
}
